<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="static/login.css">
</head>

<body>
	<div id="form">
		<h1>Login</h1>
		<form action="/loginform" method="POST">
		{{ form.csrf_token}}
		{{ form.username.label}}
		{{ form.username}}
		{{ form.password.label}}
		{{ form.password}}
		{{ form.rememberMe.label}}
		{{ form.rememberMe}}
		<input type="submit" name="submit">
		</form>
	</div>

	<div id=register>
		<h1>New Member?</h1>
		<p>Click <a href = "/register">here</a></p>
	</div>
	
</body>
</html>