<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="static/register.css">
</head>
<body>
	
	<div id="form">
		<h1>Register</h1>
		<form action="/register" method="POST">
		{{ form.csrf_token}}
		{{ form.username.label}}
		{{ form.username}}
		{{ form.password.label}}
		{{ form.password}}
		<input type="submit" name="submit">
	</form>
	</div>
	
		
</body>
</html>