<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
	<link rel="stylesheet" type="text/css" href="static/success.css">
</head>
<body>
	<h1>
		You have been successfully registered. Please go back to the <a href="{{ url_for("index") }}">home page</a> to enter times and login
	</h1>
</body>
</html>