#form {
	text-align: center;
	margin-top: 20%;
}


body {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(cycling.jpg);
	background-size: cover;
	background-attachment: fixed;
}
