.headers h2,
.results h2,
.equals h2 {
	display: inline;
}

.checkpoint {
	padding-right: 115px;
}

.km {
	padding-right: 95px;
}

#date {
	padding-right: 10px;
}

#equals {
	padding-right: 100px;
}

pre {
	display: inline;
}

#close {
	padding-left: 163px;
}

#first {
	padding-right: 105px;
}

#second {
	padding-right: 10px;
}
